{% extends 'base.html' %}

{% block body %}

<h1>Admin Page</h1>

<div class="content">
    <table>
        <tr>
            <th>Service</th>
            <th></th>
        </tr>
            <tr>
                <td>New CSV</td> 
                <td>
                    <a href="/new-csv">View</a>
                </td>
            </tr>

            <tr>
                <td> New Plane</td> 
                <td>
                    <a href="/new-plane">View</a>
                </td>
            </tr>
            
            <tr>
                <td>New Passengers</td> 
                <td>
                    <a href="/new-passengers">View</a>
                </td>
            </tr>

            <tr>
                <td>Assign Passengers</td> 
                <td>
                    <a href="/passenger-assign">View</a>
                </td>
            </tr>

            <tr>
                <td>Clear Passengers</td> 
                <td>
                    <a href="/passenger-remove">View</a>
                </td>
            </tr>

    </table>
</div>



<!-- <div class="form">
    <form action="/admin" method="POST">
        
        <input type="submit" value="Add Task">
    </form>
</div> -->


{% endblock %}