{% extends 'base.html' %}

{% block head %}

    <style>

    </style>

{% endblock %}

{% block body %}

{% set msg = msg %}

    <h1>Clear Database</h1>

    <div class="form">
        <form action="/db-clear" method="POST">
            
            <h4>Are you sure you want to clear the DB:</h4>
            
            <br><br>

            <input type="submit" value="Clear">

            <br>
            <br>

            <small> {{ msg }} </small>
        </form>
    </div>

{% endblock %}