{% extends 'base.html' %}

{% block head %}

    <style>

    </style>

{% endblock %}

{% block body %}

    <h1>Welcome To Seat Selector</h1>
    <br><br>
    <h3>This is a Final Year Honours Project, created by Isaac Ponsford, student reference number: 201458733</h3>
    <br><br>
    <p>In this project I have created a program which simulates on optimal loading of an airplane. It does this by loading plane and passenger CSV files into respective database tables</p>
    <p>These database tables interact with a "blackbox" rules engine which assigns the passengers into the plane seats, using upgrades and downupgrades it ensures that the maximum number of seats are occupied, that upgrades happen whenever possible and the rule engine powers an intuative UI which combines it all</p>

    </p>

    
    
{% endblock %}