{% extends 'base.html' %}

{% block head %}

{% set noOfColumns = noOfColumns %}

<style>
    .plane-container {
      display: inline-grid;
      grid-template-columns: 30px repeat({{noOfColumns}},auto);
      padding: 10px;
      background-color: rgb(230, 230, 230);
    }
    .grid-item {
      background-color: rgba(255, 255, 255, 0.4);
      border: 1px solid rgba(0, 0, 0, 0.4);
      padding: 20px;
      font-size: 30px;
      text-align: center;
    }
    h3 {
        text-align: center;
        font-family:verdana;
        font-size: 11px;
    }
    h4 {
        text-align: left;
        font-family:verdana;
        font-size: 11px;
    }

</style>

{% endblock %}

{% block body %}

<h1>Plane Layout</h1>

{% set icon_size = 16 %}
{% set icon_pad = 3 %}
<!-- canvas size = 2 pad + icon size -->
{% set canvas_size = 22 %}

{% set icon_line_width = 3 %}
{% set icon_round = 4 %}

{% set rowTitles = rowTitles %}

<div class="form">
    <form action="/plane-layouts" method="POST">
        <select name="planeChoice" id="planeChoice">
            <option value="777">Boeing 777 300-ER</option>
            <option value="emb145">Empier 145</option>
        </select>
        <input type="submit" value="Show">
    </form>
</div>

<br>
<br>
<br>

<div class="form">
    <div class="plane-container">

    {% for title in cTs %}
        <h3>{{title}}</h3>
    {% endfor %}

    {% for row in planeLayout %}
    
        <h4>{{rowTitles[loop.index0]}}</h4>

        {% for seat in row %}
        
            {% if seat == '1' %}
            <svg width={{canvas_size}} height={{canvas_size}}>
                <rect x={{icon_pad}} y={{icon_pad}} rx={{icon_round}} ry={{icon_round}} width={{icon_size}} height={{icon_size}}
                style="fill:white;stroke:rgb(0, 0, 255);stroke-width:{{icon_line_width}};opacity:1" />
            </svg>
            {% endif %}
            {% if seat == '2' %}
            <svg width={{canvas_size}} height={{canvas_size}}>
                <rect x={{icon_pad}} y={{icon_pad}} rx={{icon_round}} ry={{icon_round}} width={{icon_size}} height={{icon_size}}
                style="fill:white;stroke:rgb(25, 214, 25);stroke-width:{{icon_line_width}};opacity:1" />
            </svg>
            {% endif %}
            {% if seat == '3' %}
            <svg width={{canvas_size}} height={{canvas_size}}>
                <rect x={{icon_pad}} y={{icon_pad}} rx={{icon_round}} ry={{icon_round}} width={{icon_size}} height={{icon_size}}
                style="fill:white;stroke:rgb(214, 25, 25);stroke-width:{{icon_line_width}};opacity:1" />
            </svg>
            {% endif %}
            {% if seat == '4' %}
            <svg width={{canvas_size}} height={{canvas_size}}>
                <rect x={{icon_pad}} y={{icon_pad}} rx={{icon_round}} ry={{icon_round}} width={{icon_size}} height={{icon_size}}
                style="fill:white;stroke:rgb(150, 15, 229);stroke-width:{{icon_line_width}};opacity:1" />
            </svg>
            {% endif %}
            {% if seat == '' %}
            <svg width={{canvas_size}} height={{canvas_size}}> </svg>
            {% endif %}

        {% endfor %}
    {% endfor %}
    </div>
</div>

{% endblock %}