{% extends 'base.html' %}

{% block body %}

{% set flights = flights %}

<div class="content">
    <h1 style="text-align: center">Plane Layout</h1>

    {% if flights|length < 1 %}
        <a href="/new-plane">No Planes Available. Please create a plane from Admin > Create Plane</a>
    {% else %}
    <table>
        <tr>
            <th>Flight Number</th>
            <th></th>
        </tr>

        {% for flight in flights %}
            <tr>
                <td>{{ flight }}</td> 
                <td>
                    <a href="/plane-view/{{flight}}">View</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

{% endblock %}