{% extends 'base.html' %}

{% block head %}

    <style>

        a{
            font-size: 15px;
            font-family:verdana;
        }

    </style>

{% endblock %}

{% block body %}

{% set msg = msg %}

    <h1>Insert New Plane CSV</h1>

    <div class="form">
        <form action="/new-csv" method="POST" enctype="multipart/form-data">
            <label for="planeName">Choose a plane name:</label>
            <input name= "planeName">

            <br><br>
            
            <label for="csvfile">Select a CSV file:</label>
            <br><br>
            <input name = "csvfile" type="file" accept=".csv" />
            
            <br><br>

            <input type="submit" value="Get">

            <br>
            <br>

            
            <small> {{ msg }} </small>

            {% if msg !=  "" %}
                <br>
                <br>
                <a href = "/new-plane" >Create New Plane Here</a>
            {% endif %}

        </form>
    </div>

{% endblock %}