{% extends 'base.html' %}

{% block body %}

{% set planes = planes %}
{% set passengers = passengers %}
{% set classArray = classArray %}
{% set msg = msg %}
<h1>Insert new plane</h1>

<div class="form">

    <form action="/passenger-assign" method="POST">
        
        <label for="planeChoice">Choose a layout:</label>
        
        <select name="planeChoice" id="planeChoice">

            {% for plane in planes %}
                <option value="{{ plane[0] }}">{{ plane[1] }}</option>
            {% endfor %}

        </select>
        
        <br><br>

        <label for="passengerChoice">Choose a passenger set:</label>

        <select name="passengerChoice" id="passengerChoice">

            {% for passenger in passengers %}
                <option value="{{ passenger[0] }}">{{ passenger[1] }}</option>
            {% endfor %}

        </select>
        
        <br>
        <br>
        
        <input type="submit" name = "btn" value="View">

        <br>
        <br>

        <small> {{ msg }} </small>

        {% if classArray|length < 1 %}
        <h4 style="text-align: center">Please select A plane</h4>
        {% else %}
        <br><br>
        <table>
            <tr>
                <th>Class</th>
                <th>Seats</th>
                <th>Passengers</th>
                <th>Capacity</th>
            </tr>
            {% for class in classArray %}
                <tr>
                    <td>{{ class[0] }}</td>
                    <td>{{ class[1] }}</td>
                    <td>{{ class[2] }} </td>

                    {% if class[3] > 0 %}
                        {% set fontColour = "green" %}
                    {% else %}
                        {% set fontColour = "red" %}
                    {% endif %}
                    
                    <td style = "color:{{ fontColour }}">{{ class[3] }} </td>
                </tr>
            {% endfor %}
        </table>
        <br><br>
        <input type="submit" name = "btn" value="Input">
        {% endif %}

    </form>

{% endblock %}