{% extends 'base.html' %}

{% block head %}

{% set noOfColumns = noOfColumns %}

<style>
    .plane-container {
      display: inline-grid;
      grid-template-columns: 30px repeat({{noOfColumns}},auto);
      padding: 10px;
      background-color: rgb(230, 230, 230);
    }
    .grid-item {
      background-color: rgba(255, 255, 255, 0.4);
      border: 1px solid rgba(0, 0, 0, 0.4);
      padding: 20px;
      font-size: 30px;
      text-align: center;
    }
    h3 {
        text-align: center;
        font-family:verdana;
        font-size: 11px;
    }
    h4 {
        text-align: left;
        font-family:verdana;
        font-size: 11px;
    }

</style>

{% endblock %}

{% block body %}

<h1> {{fNo}} Layout</h1>

{% set icon_size = 16 %}
{% set icon_pad = 3 %}
<!-- canvas size = 2 pad + icon size -->
{% set canvas_size = 22 %}

{% set icon_line_width = 3 %}
{% set icon_round = 4 %}

{% set rowTitles = rowTitles %}

{% set seatColourArray = [[255, 0, 255],[25, 214, 25],[214, 25, 25], [150, 15, 229],[255,0,255]]%}
 

<div class="form">
    <div class="plane-container">

    {% for title in cTs %}
        <h3>{{title}}</h3>
    {% endfor %}

    {% for row in planeLayout %}
    
        <h4>{{rowTitles[loop.index0]}}</h4>

        {% for seat in row %}

            {% set intSeat = seat | int %}

            {% if intSeat > 20 %}
                {% set occColour = [150, 150, 150] %}
                {% set intSeat = intSeat - 21 %}
            {% else %}
                {% set occColour = [255, 255, 255] %}
                {% set intSeat = intSeat - 1 %}
            {% endif %}    

            {% set seatColour = seatColourArray[intSeat] %}

            {% if seat == '' %}
                <svg width={{canvas_size}} height={{canvas_size}}> </svg>
            {% else %}
                <svg width={{canvas_size}} height={{canvas_size}}>
                    <rect x={{icon_pad}} y={{icon_pad}} rx={{icon_round}} ry={{icon_round}} width={{icon_size}} height={{icon_size}}
                    style="fill:rgb({{occColour[0]}},{{occColour[1]}},{{occColour[2]}});stroke:rgb({{seatColour[0]}},{{seatColour[1]}},{{seatColour[2]}});stroke-width:{{icon_line_width}};opacity:1" />
                </svg>
            {% endif %}



        {% endfor %}
    {% endfor %}
    </div>
</div>

{% endblock %}